header{
    background: black;
}

.caixa-nave{
    position: relative;
    width:98px;
    margin: 0 auto

}

h1{
    display: inline;
}

#logo {
   width: 350px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 10px;

}

nav a {
    text-transform: uppercase;
    color:crimson;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}