header{
    background: black;
    padding: 28px 0;
}

.caixa-nave{
    position: relative;
    width:940px;
    margin: 0 auto;
}

h1{
    display: inline;
}

#logo {
   width: 350px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 10px;
    padding: 50px;

}

nav a {
    text-transform: uppercase;
    color:crimson;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.produtos {
    width: 1058px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
}

.item {
    width: 350px;
    height: 260px;
}