body{
    
}

h1 {
    text-align: center;
    background: aquamarine;
}

p {
    text-align: center;
}

#foto{
    padding-left: 40%;
}

.itens {
    font-style: italic;
}

h2 {
    text-align: center;
}
.beneficios {
    background-color:hotpink;
}

    